/* INI CSS */

nav {
    
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    padding: 12px;
    align-items: center;
}

.logo-icon{
    img{
        float: left;
    }
    
    height: 150px;
    width: 175px;
    background-size: cover;
    
}

.nav.container {
    display: flex;
}

.nav-Item {
    border: 1px solid;
    padding: 10px;
   
}

.main-title {
    text-align: center;
}
.main-content {
    display: flex;
    
}

.main-content-item {
    
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-banner {
    
    width: 100%;
    height: 750px;
    
}

.item-icon{
    height: 50px;
    width: 50px;
    
    background-image: url(https://picsum.photos/25);
    border-radius: 50%;
    
}
.main-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontak {
    margin-bottom: 5rem;
    text-align: justify;
}
.kontak h2{
    font-size: 24px;
    margin-bottom: 1rem;
}
.kontak-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    gap: 2rem;
}
.kontak-info{
    flex: 1;
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 10px;
    text-align: left;
}
.kontak-item{
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}
.kontak-item i{
    font-size: 25px;
    color: #ffcc00;
    margin-left: 10px;
}
.kontak-text{
    flex: 1;
}
.kontak-text p{
    font-size: 1.2rem;
    margin: 0;
}
.kontak-form{
    flex: 1;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0, .5);
    padding: 8rem;
    border-radius: 10px;
    text-align: left;
}
.kontak-form h3{
    font-size: 24px;
    margin-bottom: 1rem;
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}
.form-group textarea {
    height: 150px;
}
button[type="submit"]{ 
    background-color: #ffcc00;
    color:white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: backround-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #555;
    color: white;
}

/* input{ */
    /* width: 75%; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* display: inline-block; */
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
/* } */

/* button{ */
    /* width: 75%; */
    /* height: 32px; */
    /* background-color: aliceblue; */
    /* border: none; */
/* } */